// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import '../node_modules/bootstrap/scss/bootstrap';

// Then add additional custom code here

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  /*padding-top: 3rem;*/
  padding-bottom: 3rem;
  color: #5a5a5a;
  background-image: url('../src/img/flip-flop-pattern.svg');
  background-size: 20rem;
}

/*@include media-breakpoint-up(sm) {
  body {
    background-size: 55vw;
  }
}

@include media-breakpoint-up(md) {
  body {
    background-size: 40vw;
  }
*/

header {
  /*display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;*/
  background-image: url('../src/img/flip-flop-cover.svg');
  background-repeat: no-repeat;
  background-position: top -80px left 50%;
  background-size: 1000px;
}

@include media-breakpoint-up(md) {
  header {
    background-position: top -180px left 50%;
    background-size: 1300px;
  }
}

@include media-breakpoint-up(xl) {
  header {
    background-position: top -275px left 50%;
    background-size: 1550px;
  }
}

.trip-flops > div {
  flex-direction: column;
  gap: 3rem;
}

.trip-flops .trip-flop-item {
  width: 10rem;
}

.trip-flops .trip-flop-item img {
  margin-bottom: 1rem;
}

.trip-flops .trip-flop-item h3 {
  margin-bottom: 0;
}

@include media-breakpoint-up(sm) {
  .trip-flops > div {
    flex-direction: row;
  }
}

@include media-breakpoint-up(md) {
  .trip-flops > div {
    gap: 5rem;
  }
}

@include media-breakpoint-up(lg) {
  .trip-flops > div {
    gap: 7rem;
  }
}
